h1 {
  text-align: center;
}

body {
  background-color: rgba(220, 80, 180, 0.78);

  font-family: "Fredoka One", cursive;
  padding: 25px 50px 50px;
}

.right-top {
  text-align: right;
}
.row {
  padding: 150px 100px;
}
.column {
  float: left;
  width: 50%;
  padding-left: 100px;
}
.bottom {
  margin-top: 500px;
}
input {
  width: 130;
  height: 60;
  font-size: 30;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
}
button {
}
.btn {
  background-color: rgba(31, 24, 29, 0.6);
}
i {
  margin-right: 10px;
}
.bottomButton {
  text-align: center;
}
.horizontal_dotted_line {
  border-bottom: 10px dotted rgba(0, 0, 0, 0.28);
  padding-top: 100px;
  opacity: 0.5;
}
.number {
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.88);
  width: 125px;
  position: absolute;
  height: 125px;
  top: 185px;
  padding-top: 37px;
  left: 48%;
  color: beige;
}
.checkButton {
  margin-top: 10px;
  margin-left: 15px;
}
.firstDiv {
  position: relative;
}
